@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');

*{
    margin:0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    cursor:  crosshair;
    

}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
body{
    height: 100%;
    overflow: hidden; 
    /* background: linear-gradient(to right, #ff47a1 0%, #ff9f4d 100%); */
   
    /* background: linear-gradient( 135deg, #F761A1 10%, #8C1BAB 100%); */
    /* background-color: #4158D0; */
/* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */

     display: flex;
     justify-content: initial;
     background-size: cover;
     /* background-image: url('background.jpg');    */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #54e2ca, #c54636);
	background-size: 400% 400%;
	animation: gradient 10s ease-in-out infinite;



     
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }





@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Profile Picture */
.container .profile_pic{
    height: auto;
    width: 150px;
    margin-bottom: 30px;
    transition: 2s;
}
.container .profile_pic:hover{
    transform: rotate(360deg);
}
.container .profile_pic img{
    height: auto;
    width: 150px;
    display:block;
    border-radius: 50%;
    border: 6px dotted rgb(204, 128, 186);
}

/* Navigation Bar */


.navbar{
    height: 2.8rem;
    width: 75%;
    border:1px transparent rgb(73, 73, 73);
    z-index: 1;
    position: absolute;
    /* background: linear-gradient(180deg,rgb(234 227 227 / 0%),rgb(156 153 154 / 25%),rgb(224, 222, 224)); */
    /* background-color: rgb(255, 255, 255); */

    /* background-color: transparent; */
    margin-left: 20rem;
    border: 1px transparent rgb(83, 81, 81);
    box-shadow: 2px 2px 5px rgb(62 43 43),
     inset 5px 1px 6px rgb(255 211 211),
      inset 2px 1px 8px rgb(241 156 156),
       inset 2px 1px 6px rgb(52 52 52);
       border-radius: 20px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;

    

    
}
.navbar .content ol{
    display:flex;
    flex-direction: row;
    
    list-style: none;
    

}
.navbar .content ol li{
    margin: 10px 0 0 120px;
    font-size: 1.3rem;
    padding:0px 6px 0px 6px;
    background:transparent;
    color: black;
    display:block;
    transform: skewX(2deg);
    transition: .5s linear;
}
.navbar .content ol li a{
    text-decoration: none;
    color: black;
    letter-spacing: 2px;
    padding: 5px;
}
.navbar .content ol li:hover{
    border: 1px transparent rgb(83, 81, 81);
    box-shadow:4px 3px 11px 0px rgb(255 253 255 / 65%),
    inset 3px 1px 4px rgb(155 128 128 / 39%),
    inset 1px 1px 6px rgb(241 241 241 / 45%),
    inset 1px 1px 4px rgb(83 81 81 / 4%);
    text-shadow: 1px 1px rgb(196, 195, 195);
   transform: skew(-2deg);
    border-radius: 20px;
}
canvas{
    z-index: 0;
}

.container{
    height:40rem;
    width: 20rem;
    /* background: linear-gradient(180deg,rgb(223, 74, 74),pink,rgb(216, 95, 216));*/
    /* background: linear-gradient(180deg,rgb(234 227 227 / 0%),rgb(156 153 154 / 25%),rgb(224, 222, 224)); */
    /* background-color: rgb(255, 255, 255); */

    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px transparent rgb(83, 81, 81);
    box-shadow: 2px 2px 5px rgb(83, 81, 81),
    inset  5px 1px 6px rgb(83, 81, 81),
    inset 2px 1px 8px rgb(83, 81, 81),
    inset 2px 1px 6px rgb(83, 81, 81);
    border-radius: 20px;
    border-top-right-radius: 0px;

   
}
.burger{
opacity: 0;
}
.container .burger .lines{
    height:5px;
    width: 35px;
    background-color: black;
    z-index: 5;
    margin-top:6px;
}
.container .heading{
    height:17rem;
    width: 14rem;
    border: 1px transparent rgb(233, 127, 127);
    box-shadow: 2px 2px 5px rgb(241, 236, 236),
    inset  5px 1px 6px rgb(224, 201, 201),
    inset 2px 1px 8px rgb(218, 96, 96),
    inset 2px 1px 6px rgb(136, 103, 103);
    border-radius: 10px;
   transition: 0.3s;
}

.container .heading:hover + .para{
    opacity: 10%;
}



.container .heading h1:hover{
    font-size: 2.2rem;
    
}



.container .heading h1{
    margin-left: 1rem;
    margin-top: 1rem;
   
    font-size: xx-large;
    font-weight: 300px;
    font-style: normal;
    color: rgb(49, 28, 68);
    transition: 0.3s;
    text-shadow: 4px 2px 3px rgb(139 86 86);
    
}
.container .heading h1 span1{
    color:rgb(186, 11, 255);
    font-size: 3rem;
    font-family: cursive;
    
    margin-top: 10px;
    opacity: 50%;
}

.container .heading h1 span2{
    height:5px;
    width:10px;
    color:rgb(186, 11, 255);
    font-size: 3rem;
    font-family: cursive;
    margin-top: 0px;
    margin-left: 30px;
    
    opacity: 50%;
}

.container .heading h1 span1{
    color:rgb(186, 11, 255);
    font-size: 4rem;
    font-family: cursive;
    margin-top: 0px;
    opacity: 50%;
}
.container .para{
    height: 4rem;
    width:15rem;
    margin-top: 1rem;
    margin-left: 60px;
    display:flex;
    justify-content: center;
    align-items: center;

}

.container .para p{
    font-size: 1.2rem;
    color:rgb(49, 28, 68);
}

/* PNG image */

.image{
    height:auto;
    width: 800px;
    position: absolute;
    top: 50px;
    margin-left: 300px;
    

    z-index: 1;
    
}

.image img{
    height:30rem;
    width: 800px;
    margin-top: 7rem;
   
    
    background:transparent;
}

.skill{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 200px;
    left: 1050px;
    z-index: 1;
    transition:5s;
    background: rgb(177, 174, 174);
    /* background: linear-gradient(
        180deg
        ,rgb(206 103 212),#d64ad2,#8b5ed3); */
    
    border: 1px transparent rgb(233, 127, 127);
    box-shadow: 2px 2px 5px rgb(241, 236, 236),
    inset  5px 1px 6px rgb(224, 201, 201),
    inset 2px 1px 8px rgb(218, 96, 96),
    inset 2px 1px 6px rgb(136, 103, 103);
    border-radius: 10px;
    background: transparent;
    overflow: hidden;
    backdrop-filter: blur(5px);
}

.skill h2{
    position: relative;
    text-align: center;
    margin-top: 75px;
    font-size: 4.7em;
    transition: 3s;
    z-index: 0;
    padding: 13px;
}
.skill .heading{
    position:absolute;
    
    
}

.skill .heading h2{
    font-family: cursive;
    
}

.skill:hover .heading h2{
    opacity: 0;
    
}
.skill .items{
    
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    transform: translatex(210px);
    opacity: 0;
    background-color: white,0.4;
    transition: 2s ;
    z-index: 1;
}

.skill:hover .items{
    transform: translateX(0%);
    opacity:1;

}
.skill .items ul{
    display:flex;
    flex-direction: column;
    
    list-style: none;
}
.skill .items ul li{
    display: flex;
    text-align: center;
    padding:9px;
    z-index: 2;
    /* background: linear-gradient( 
        180deg
         ,rgb(237 162 231),#d489d2,#c3bccc); */
    margin-top: 12px;
    color:black;
    font-size: x-large;
    font-weight: 300px;
    font-style: normal;
    color: rgb(49, 28, 68);
   
    text-shadow: 4px 2px 3px rgb(139 86 86);
    position: relative;
    transition: 0.4s all;
    border: 1px transparent rgb(233, 127, 127);
    box-shadow: 2px 2px 5px rgb(241, 236, 236),
    inset  5px 1px 6px rgb(224, 201, 201),
    inset 2px 1px 8px rgb(218, 96, 96),
    inset 2px 1px 6px rgb(136, 103, 103);
    border-radius: 10px;

}
.skill .items ul li a{
    text-decoration: none;
    color: white;
    transition: 0.4s;
    padding-left: 50px;
    padding-right: 50px;
}

.skill .items ul li:hover a{
    /* background:white; */
    border-radius: 30px;
   
    transform:scale(1.5)


}


.wrapper{
    display: inline-flex;
    margin: 60px 0px 0px 300px;
    overflow: hidden;
    letter-spacing: 2px;
    z-index: 4;

}
.wrapper .static-txt{
    font-size: 60px;
    color: rgb(0, 0, 0);
    font-family: 'Style Script', cursive;
    height: 70px;
    line-height: 70px;

}

.wrapper .dynamic-txt{
    font-family: 'Style Script', cursive;
    font-size: 60px;
    margin-left: 15px;
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    border-right: 5px solid black;
    color: rgb(73, 72, 72);
    animation: change .6s infinite ease;

}  

@keyframes change {
    0% {
    color: rgb(73, 72, 72);

    }
    50%{
    color: rgb(70, 48, 48);

    }
    100%{
    color: rgb(129, 21, 21);

    }
}



/*plane circle css*/


.frame{
    position: fixed;
    height: 36rem;
    width: 36ren;
    left: 50rem;
    background: transparent;
    z-index: 0;
    /* overflow: hidden; */

}

.track{
    position: absolute;
    z-index: 1;
    top:18rem;
    left:18rem;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    border: 3px dashed rgb(143, 142, 142);
}

.circle{
    position: absolute;
    z-index: 1;
    top:18.3rem;
    left:18.3rem;
    width: 36rem;
    height: 36rem;
    border-radius: 50%;
    background:transparent;
}
.point{
    z-index: 1;
    position: absolute;
    height:3.2rem;
    width: 3.2rem;
    top: 0;
    border-radius: 50%;
    left: 50%;
    /* background:url('airplane.png'); */
    transform: translate(-50%, -50%);
    animation: opacitynew 10s infinite linear;
}
.point:hover{
    opacity: 1;
    transition: .4s;
    transform:scale(1.5);

}

.point img{
    position: fixed;
    height:2.5rem;
    width: 2.5rem;
    transform:rotate(40deg)
}
.circle{
    animation: rotate 15s infinite linear;
}
@keyframes rotate {
    0% {
        transform: rotate(30deg);
    }
   
    100%{
        transform: rotate(-350deg);
    }
}
/* 
@keyframes opacitynew{
  
    10%{
        opacity: 10%;
    }
    20%{
        opacity: 20%;
    }
    30%{
        opacity: 30%;
    }
    40%{
        opacity: 40%s;
    }
    50%{
        opacity: 50%s;
    }
    60%{
        opacity: 60%s;
    }
    70%{
        opacity: 70%s;
    }
    80%{
        opacity: 80%s;
    }
    90%{
        opacity: 90%s;
    }
    0%,100%{
        opacity: 100%s;
    }
    
    
} */

/* Social Icons */
.wrapper2{
    display:flex;
    height: 50px;
    width: 320px;
    z-index: 19;
    /* transform:rotate(90deg); */
    top:0;
    margin-top: -180px;
    margin-left: 1020px;
    flex-direction: column;

    
}

.wrapper2 .icon{

    position: relative;
    border-radius: 50%;
    padding:15px;
    margin-left:60px;
    margin-top: 70px;
    width:40px;
    height: 40px;
    font-size: 18px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* transform:rotate(-90deg); */
    z-index: 19;


}

.wrapper2 .icon i{
    color:rgb(255, 255, 255);
    transition: .4s linear;
    opacity: 0.9;
}
.wrapper2 .icon:hover i{
    opacity: 1;
}
.wrapper2 .tooltip{
    z-index: 19;

    position:absolute;
    top: 20;
    font-size: 18px;
    /* background-color:rgb(255, 255, 255); */
    background: transparent;
    color: #000000;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgb(255, 255, 255);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper2 .icon::before,
.wrapper2 .icon::after{
    content: "";
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    transition: .4s linear;

}

.wrapper2 .icon:hover .tooltip{
    color: black;
    left: -95px;
    opacity: 1;
    visibility: visible;
    font-size: 26px;
    pointer-events: auto;

}
.wrapper2 .icon:hover span,
.wrapper2 .icon:hover .tooltip{
    text-shadow: 0px -1px 0px rgb(255, 255, 255);
    transform:scale(.8);
    transition: .4s linear;


}
.wrapper2 .icon:hover::before{
    border-radius: 50%;
    border-left: 4px solid;
    border-right: 4px solid;
    transform: skewX(20deg);
    color:rgb(255, 0, 0);

}
.wrapper2 .icon:hover::after{
    border-radius: 50%;
    border-top: 4px solid;
    border-bottom: 4px solid;
    transform: skewY(-20deg);
    color:rgb(88, 82, 82);

}


